<div class="container">
  <h1>All Tools</h1>
  <div>
    <%= link_to "Add new tool", new_tool_path %>
  </div>
  <ul>
    <% @tools.each do |tool| %>
      <li>
        <%= link_to tool.name, tool_path(tool) %>
      </li>
    <% end %>
  </ul>
</div>
