<div class="container">
  <h1><%= @tool.name.capitalize %></h1>
  <div>
    <p><%= @tool.description %></p>
  </div>
  <div>
    <%= link_to 'Edit', edit_tool_path(@tool) %>
    <%= link_to 'Back to Tools', tools_path %>
  </div>
</div>
