// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue: rgba(36, 123, 160, 1);
$lime: rgba(112, 193, 179, 1);
$tan: rgba(178, 219, 191, 1);
$lemon: rgba(243, 255, 189, 1);
$red: rgba(255, 22, 84, 1);
